<header>

  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg');
      height: 51.5rem;
    ">
    <div class="mask">
      <div class="d-flex justify-content-md-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to Recipe Club</h1>
          <h4 class="mb-3">No more hunting down index cards or random notebooks.</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<body>
</body>
